<%= form_for @team do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.collection_select :tipo_id, Tipo.all, :id, :nome, include_blank: false %>
  </div>

  <%= f.fields_for :integrantes do |i| %>
    <%= render 'integrante_fields', f: i %>
    <%= link_to_add_association "add integrante", f, :integrantes %>
  <% end %>
  <%= f.submit 'Atualizar Equipe', :class=> "btn btn-success"%>
<% end %>
