<% if @team.errors.any? %>
  <div id="error_explanation">

    <div class="alert alert-danger alert-dismissible pull-right" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>
        <%= pluralize(@team.errors.count, "erro(s)") %> encontrado(s):
      </h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>

<%= form_for @team do |f| %>
<div class="row">
  <div class="col-md-7">
    <div class="jumbotron">
      <div class="row">
          <div class="field form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :required => true,
            :class=>"form-control", :placeholder=>"Nome"%>
          </div>
      </div>
      <div class="row">
          <div class="field form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description,
            :class=>"form-control", :placeholder=>"Descrição" %>
          </div>
      </div>
      <div class="row">
          <div class="field form-group">
            <%= f.label :tipo %><br>
            <%= f.collection_select :tipo_id, Tipo.all, :id, :nome, include_blank: false %>
          </div>
      </div>
    </div>
  </div>
</div>

<h3 class="text-primary">Integrantes:</h3>
  <div id="integrantes">
    <%= f.fields_for :integrantes do |i| %>
    <%= render 'integrante_fields', :f => i %>
    <%= link_to_add_association "Adicionar Integrante",
      f, :integrantes,
      :class => "btn btn-primary pull-left btn-add-integrantes" %>
    <% end %>
  </div>
  <%= show_simple_captcha %>
  <div class="row">
    <div class="col-md-8">
      <%= f.submit 'Enviar Formulário', :class=> "btn btn-success pull-right"%>
    </div>
  </div>
<% end %>
