<div class="sub_integrantes nested-fields">
  <div class="field">
    <%= f.label :nome, :class => "control-label" %><br>
    <%= f.text_field :nome, :required => true, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf, :required => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :required => true %>
  </div>
  <div class="field">
    <%= f.label :obs %><br>
    <%= f.text_area :obs %>
  </div>

  <%= link_to_remove_association "remove integrante",
    f, {wrapper_class: "sub_integrantes"}%>

</div>
